body {
    background-color: #F3E8D2;
    margin: 0;
}

.back-blocks{
    display: grid;
    grid-template-columns: 300px 2fr;
    grid-template-rows: 2fr 1fr;
    height: 95vh;
    gap: 20px;
    padding: 8px;
    grid-template-areas:
        "blocks-area work-area"
        "blocks-area output-area";
}

.back-blocks > *{
    border-radius: 20px;
}

.Blocks-Area{
    grid-area: blocks-area;
    background-color: #1A946f; 
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
}

.Work-Block{
    grid-area: work-area;
    background-color: #88D398;
    position: relative;
    overflow: hidden;
}

.Output-Block{
    grid-area: output-area;
    background-color: #114B5F;
}

.block{
    background: rgb(76, 227, 109);
    width: 100%;
    border-radius: 12px;
    padding: 30px 20px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.45);
    transition: transform 0.1s;
}

.block:hover {
    transform: scale(1.02);
}

.block.instance {
    position: absolute;
    cursor: grab;
    user-select: none;
    width: auto;
    min-width: 150px;
    z-index: 10;
    transition: none;
}

.block.instance:active {
    cursor: grabbing;
}

.block.instance:hover {
    transform: none;
}