body {
    margin: 0;
    color: white;;
}

.back-block{
    display: grid;
    grid-template-columns: 300px 2fr;
    grid-template-rows: 4fr 1fr;
    height: 100vh;
    grid-template-areas:
        "Blocks-Area Work-Block"
        "Blocks-Area Output-Area";
}


.Blocks-Area{
    grid-area: Blocks-Area;
    background-color: #253745;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    text-align: center;
}

.Work-Block{
    grid-area: Work-Block;
    background-color: #CCD0CF;
    position: relative;
    overflow: hidden;
}

.Output-Area{
    grid-area: Output-Area;
    background-color: #4A5C6A;
}

.block{
    background: #06141b5f;
    width: 100%;
    border-radius: 12px;
    padding: 30px 20px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.45);
    transition: transform 0.1s;
    touch-action: none;
    user-select: none;
}

.block:hover {
    transform: scale(1.02);
}

.block.instance {
    position: absolute;
    cursor: grab;
    user-select: none;
    width: auto;
    min-width: 150px;
    z-index: 10;
    transition: none;
}

.block.instance:active {
    cursor: grabbing;
}

.block.instance:hover {
    transform: none;
}

#runButton{
    cursor: pointer;
    font-weight: bold;
}